.root {
    -fx-background-color: #006400;
}

#button-reset{
    -fx-border: square;
    -fx-border-color: #556B2F;
}

#button-tile {
    -fx-border: none;
    -fx-background-color: #006400;
    -fx-color: #006400;
    -fx-padding: 3 6 6 6;
    -fx-image: "./mole.png" ;
}

#font-label {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , blue , 8 , 0.0 , 2 , 0 );
    -fx-text-alignment:center;
}
#font-label-title {
    -fx-font: bold italic 30pt "Arial";
    -fx-effect: dropshadow( one-pass-box , red , 8 , 0.0 , 2 , 0 );
    -fx-text-alignment:center;
}